.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #352f44;
    padding: 1em 0;
    font-family: Oswald;
    color: #dbd8e3;
}

.scoreboard {
    padding: 1em 0;
    color: #2a2438;
}



button {
    background-color: #5c5470;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.card-grid .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    margin: 0 auto;
}

.card-grid {
    flex: 1;
    margin-bottom: 2em;
}

.card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    padding: 10px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}


.scoreboard .container {
    display: flex;
    justify-content: space-between;
}

.message {
    flex: 1;
}

.message__content {
    margin: 0 auto;
    border-radius: 8px;
    text-align: center;
    padding: 2em 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
}

.message h2 {
    margin-bottom: 0.5em;
}

footer {
    background-color: #dbd8e3;
    padding: 0.5em 0;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

footer span {
    display: flex;
    align-items: center;
    gap: 5px;
}

footer a {
    /* text-decoration: none; */
    color: #7b62c6;
}

#git-icon {
    width: 1.3em;
}

footer a>img:hover {
    animation: pulse 0.5s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.8);
    }
}

@media screen and (min-width: 950px) {
    .container {
        width: 60%;
    }

    .card-grid .container {
        grid-template-columns: repeat(4, 1fr);
    }


}